.ecl-logo{
    width: 300px;
    height: 76px;
    margin-top: -10px;
}

@media only screen and (max-width: 404px) {
    .ecl-logo{
        width: 300px;
        height: 76px;
        margin-top: -50px;
    }
}

@media only screen and (max-width: 804px) and (min-width: 404px) {
    .ecl-logo{
        width: 235px;
        height: 50px;
        margin-top: -13px;
    }
}

/*---------------------------------------
    Navigation Links section              
-----------------------------------------*/
.custom-navbar {
    margin-bottom: 0;
    background-color: #101010;
}

.custom-navbar .navbar-brand {
    color: #ffffff;
    font-weight: 600;
    font-size: 3rem;
    line-height: 40px;
}

.custom-navbar .nav li a {
    color: #ddd;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    line-height: 40px;
    transition: all 0.4s ease-in-out;
}

.custom-navbar .nav li a:hover {
    background: transparent;
    color: #66ccff;
}

.custom-navbar .nav li a:active {
  background: transparent;
  color: #66ccff;
}

.custom-navbar .navbar-nav > li > a:hover,
.custom-navbar .navbar-nav > li > a:focus {
  background-color: transparent;
}

.custom-navbar .nav li.active > a {
    background-color: transparent;
    color: #66ccff;
}

.custom-navbar .navbar-toggle {
    border: none;
    padding-top: 10px;
}

.custom-navbar .navbar-toggle {
    background-color: transparent;
}

.custom-navbar .navbar-toggle .icon-bar {
    background: #ffffff;
    border-color: transparent;
}

@media(min-width:768px) {
    .custom-navbar {
        padding: 20px 0;
        border-bottom: 0;
        background: 0 0; 
    }
    .custom-navbar.top-nav-collapse {
        background: #101010;
        padding: 0;
    }

}

@media (max-width: 980px) {
    
      .custom-navbar .navbar-brand {
        font-size: 2rem;
      }
    
      .custom-navbar .nav li a {
        font-size: 11px;
        line-height: 20px;
      }
    
    }

    /*---------------------------------------
   Footer section              
-----------------------------------------*/
#fh5co-footer {
    padding: 7em 0 0;
    float: left;
    width: 100%;
    position: relative;
    background: #333333;
}

#fh5co-footer h3{
    color:#fff !important;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}

#fh5co-footer .float {
    float: left;
    margin-right: 10%;
}

#fh5co-footer ul {
    padding: 0;
    margin: 0;
}

#fh5co-footer ul li {
    padding: 0;
    margin: 0 0 10px 0;
    list-style: none;
}

#fh5co-footer ul li a {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none !important;
}

#fh5co-footer ul li a:hover {
    color: #fff;
}

#fh5co-footer [class*="col"] {
    padding-bottom: 30px;
}

.fh5co-copyright {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    clear: both;
    margin-top: 40px !important;
    padding: 40px 0 0 0;
}

/* Back top */
.go-top {
    background-color: #222;
    bottom: 2em;
    right: 2em;
    color: #ffffff;
    font-size: 32px;
    position: fixed;
    text-decoration: none;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    transition: all 0.4s ease-in-out;
    z-index:5;
  }
  
  .go-top-display{
    display:block;
  }
  
  .go-top-hide{
    display:none;
  }
  
  .go-top:hover {
      background: #f2545f;
      color: #ffffff;
  }


