<ng-container>
	<div class='row product-container' style='margin-top: 10vh;'>
		<div class="col-md-2 sections">
			<div class="col-xs-12 left-header" style='border-bottom: #E5E5E5 1px solid;'>
				Product Categories
			</div>
			<div class="col-xs-12 left-body">
				<ul>
					<li>
						<span class='main-cat'>Capacitors</span>
						<ul>
							<li>
								<span class="items">Aluminium Electrolytic</span>
							</li>
							<li>
								<span class="items">Film</span>
							</li>
							<li>
								<span class="items">Box Type</span>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		<div class="col-xs-12 col-md-10">
			<div class='col-xs-12 sections'> Main content
				
			</div>
		</div>
	</div>
</ng-container>


