<!-- =========================
    INTRO SECTION   
============================== -->
<section id="intro" class="parallax-section">
</section>


<!-- =========================
    PRODUCT CATEGORY SECTION   
============================== -->
<section id="overview" class="parallax-section">
	<ng-container>
		<p-carousel headerText="Featured Product Categories" [value]="categories" circular="circular" autoplayInterval="20000" numVisible="4">
			<ng-template let-category pTemplate="item">
				<div class="ui-grid ui-grid-responsive">
					<div class="ui-grid-row">
						<!-- <div class="ui-grid-col-12">
								<img src="assets/showcase/images/demo/car/{{car.brand}}.png" width="60">
							</div> -->
					</div>
					<div class="ui-grid-row">
						<div class="ui-grid-col-12">
							<img [src]='category.img' />
						</div>
					</div>
					<div class="ui-grid-row">
						<div class="ui-grid-col-12">
							<h3>{{category.name}}</h3>
							<p>{{category.desc}}</p>
						</div>
					</div>
				</div>
			</ng-template>
		</p-carousel>
	</ng-container>
</section>

<!-- =========================
    DETAIL SECTION   
============================== -->
<!-- <section id="detail" class="parallax-section">
	<div class="container">
		<div class="row">

			<div class="wow fadeInLeft col-md-4 col-sm-4" data-wow-delay="0.3s">
				<i class="fa fa-group"></i>
				<h3>650 Participants</h3>
				<p>Quisque ut libero sapien. Integer tellus nisl, efficitur sed dolor at, vehicula finibus massa. Sed tincidunt metus sed
					eleifend suscipit.</p>
			</div>

			<div class="wow fadeInUp col-md-4 col-sm-4" data-wow-delay="0.6s">
				<i class="fa fa-clock-o"></i>
				<h3>24 Programs</h3>
				<p>Quisque ut libero sapien. Integer tellus nisl, efficitur sed dolor at, vehicula finibus massa. Sed tincidunt metus sed
					eleifend suscipit.</p>
			</div>

			<div class="wow fadeInRight col-md-4 col-sm-4" data-wow-delay="0.9s">
				<i class="fa fa-microphone"></i>
				<h3>11 Speakers</h3>
				<p>Quisque ut libero sapien. Integer tellus nisl, efficitur sed dolor at, vehicula finibus massa. Sed tincidunt metus sed
					eleifend suscipit.</p>
			</div>

		</div>
	</div>
</section> -->

<!-- =========================
    SPONSORS SECTION   
============================== -->
<section id="sponsors" class="parallax-section">
	<ng-container>
		<div class="row">

			<div class="col-md-12 col-sm-12">
				<div class="section-title">
					<h3>Featured Manufacturers</h3>
				</div>
			</div>
			<div class="col-md-12 col-sm-12" style='display: flex;align-items: center; margin-bottom: 6rem;'>
				<div class="col-md-3 col-sm-6 col-xs-6">
					<img src="../assets/images/keltron.png" class="img-responsive" alt="sponsors">
				</div>

				<div class="col-md-3 col-sm-6 col-xs-6">
					<img src="../assets/images/vishay.png" class="img-responsive" alt="sponsors">
				</div>

				<div class="col-md-3 col-sm-6 col-xs-6">
					<img src="../assets/images/YOI.jpg" class="img-responsive" alt="sponsors">
				</div>

				<div class="col-md-3 col-sm-6 col-xs-6">
					<img src="../assets/images/samwha.jpg" class="img-responsive" alt="sponsors">
				</div>
			</div>
		</div>
	</ng-container>
</section>

